{{!< default}}

{{> custom/profile this}}

<div class="blog-wrapper inactive" id="blog">
    <h1>Blog Entries</h1>
    <section class="post-list">
        {{#foreach posts}}
            {{> post/list this}}
        {{/foreach}}
    </section>
    {{#if pagination}}
        {{pagination}}
    {{/if}}
</div>