<div class="profile-wrapper" itemscope itemtype="http://schema.org/Person">

<section class="profile-cover">
    <h1 itemprop="name">/CHZ</h1>
    <div class="clearfix"></div>
</section>

<section itemprop="description">
<p>Hello, my name is Komang, an <strong>independent IT consultant</strong> with extensive experience in <strong>web</strong> and <strong>mobile</strong> application development.</p>
<p>I've been developing website since 2003 and been involved in various level of <strong>web application development</strong>, from <strong>UI/UX design</strong> to <strong>RESTful API</strong>, includes servers and databases management.</p>
<p>I'm particularly interested in scalable client-server application with big data and using various technologies at it best to support it. Lately more into <strong>Node.js</strong> and mobile technology for <strong>Android</strong> and <strong>iOS</strong> platforms.</p>
</section>

<section class="skills">
    <h3>Technology Colophon</h3>
    <p>I love doing new things, love to be busy over the weekend digging into new technology, but below are those that I've experienced with, in production level.</p>
    <ul itemscope itemtype="http://schema.org/ItemList" class="tags">
        <li itemprop="itemListElement" class="tag programming">PHP</li>
        <li itemprop="itemListElement" class="tag programming">Ruby</li>
        <li itemprop="itemListElement" class="tag programming">Python</li>
        <li itemprop="itemListElement" class="tag programming">Java</li>
        <li itemprop="itemListElement" class="tag programming">Node.js</li>
        <li itemprop="itemListElement" class="tag database">MySQL</li>
        <li itemprop="itemListElement" class="tag database">PostgreSQL</li>
        <li itemprop="itemListElement" class="tag database">Redis</li>
        <li itemprop="itemListElement" class="tag database">MongoDB</li>
        <li itemprop="itemListElement" class="tag database">Apache Solr</li>
        <li itemprop="itemListElement" class="tag database">Elastic Search</li>
        <li itemprop="itemListElement" class="tag website">Twitter Bootstrap</li>
        <li itemprop="itemListElement" class="tag website">Angular.js</li>
        <li itemprop="itemListElement" class="tag mobile">Android</li>
        <li itemprop="itemListElement" class="tag mobile">iOS</li>
    </ul>
    <br clear="both">
    <div class="clearfix"></div>
</section>

<h3>Employment History</h3>

<ul class="emp">

    <li itemscope itemtype="http://schema.org/Organization">
        <small class="emp-date">2011 – Present</small>
        <span class="emp-role" itemprop="jobTitle">Partner</span> at <a href="http://fogitive.com" itemprop="name">Fogitive Media Kreasi</a>
    </li>
    <li itemscope itemtype="http://schema.org/Organization">
        <small class="emp-date">2009 – 2012</small>
        <span class="emp-role" itemprop="jobTitle">Technical Leader</span> at <a href="http://www.tokobagus.com" rel="no-follow" itemprop="name">PT. Tokobagus</a>
    </li>
    <li itemscope itemtype="http://schema.org/Organization">
        <small class="emp-date">2006 - 2008</small>
        <span class="emp-role" itemprop="jobTitle">Lead Developer</span> at <span class="em-org" itemprop="name">Bali IT Solusi</span>
    </li>
    <li itemscope itemtype="http://schema.org/Organization">
        <small class="emp-date">2003 – 2006</small>
        <span class="emp-role" itemprop="jobTitle">CMS/E-commerce Developer</span> at <a href="http://soltria.nl" rel="no-follow" itemprop="name">Soltria Europe BV.</a>
    </li>
</ul>

<h3>Dirty Facts</h3>

<ul>
    <li>Proud native Balinese, workaholic, Liverpudlian, heavy smoker, occasional drinker</li>
    <li>Some says an anti social, natural genius bastard, careless, frontal, boring</li>
    <li>Believe that 2004 is the worst years ever, Kurt Cobain dead and  J. Beiber born</li>
    <li>Fail musician, love farming</li>
    <li>A secret admirer of the lady in black</li>
</ul>

</div>


