<div class="profile-wrapper" itemscope itemtype="http://schema.org/Person">

    <h1>Hello,</h1>

    <section itemprop="description">
        <p>My name is Komang, an <strong>independent IT consultant</strong> with extensive experience in <strong>web</strong>
            and <strong>mobile</strong> application development.</p>

        <p>I've been developing website since 2003 and been involved in various level of <strong>web application
            development</strong>, from <strong>UI/UX design</strong> to <strong>RESTful API</strong>, includes servers
            and databases management.</p>

        <p>I'm particularly interested in scalable client-server application with big data and using various
            technologies at it best to support it. Lately more into <strong>Node.js</strong> and mobile technology for
            <strong>Android</strong> and <strong>iOS</strong> platforms.</p>
    </section>

    <section class="skills">
        <h3>Technology Colophon</h3>

        <p>I love doing new things, love to be busy over the weekend digging into new technology, but below are those
            that I've experienced with, in production level.</p>

        <ul itemscope itemtype="http://schema.org/ItemList" class="tags">
            <li itemprop="itemListElement" class="rtag">PHP</li>
            <li itemprop="itemListElement" class="rtag">Ruby</li>
            <li itemprop="itemListElement" class="rtag">Python</li>
            <li itemprop="itemListElement" class="rtag">Java</li>
            <li itemprop="itemListElement" class="rtag">Node.js</li>
            <li itemprop="itemListElement" class="rtag">MySQL</li>
            <li itemprop="itemListElement" class="rtag">PostgreSQL</li>
            <li itemprop="itemListElement" class="rtag">Redis</li>
            <li itemprop="itemListElement" class="rtag">MongoDB</li>
            <li itemprop="itemListElement" class="rtag">Apache Solr</li>
            <li itemprop="itemListElement" class="rtag">Elastic Search</li>
            <li itemprop="itemListElement" class="rtag">Twitter Bootstrap</li>
            <li itemprop="itemListElement" class="rtag">Angular.js</li>
            <li itemprop="itemListElement" class="rtag">Android</li>
            <li itemprop="itemListElement" class="rtag">iOS</li>
        </ul>
        <div class="clearfix" style="clear: both"></div>
    </section>

    <h3>Employment History</h3>

    <ul class="emp f3d">
        <li itemscope itemtype="http://schema.org/Organization">
            <small>2011 – Present</small>
            <em itemprop="jobTitle">Partner</em> at
            <a href="http://fogitive.com" itemprop="name"><span data-title="Fogitive Media Kreasi">Fogitive Media Kreasi</span></a>
        </li>
        <li itemscope itemtype="http://schema.org/Organization">
            <small>2009 – 2012</small>
            <em itemprop="jobTitle">Technical Leader</em> at
            <a href="http://www.tokobagus.com" rel="no-follow" itemprop="name"><span data-title="PT. Tokobagus">PT. Tokobagus</span></a>
        </li>
        <li itemscope itemtype="http://schema.org/Organization">
            <small>2006 - 2008</small>
            <em itemprop="jobTitle">Lead Developer</em> at
            <span class="em-org" itemprop="name">Bali IT Solusi</span>
        </li>
        <li itemscope itemtype="http://schema.org/Organization">
            <small>2003 – 2006</small>
            <em itemprop="jobTitle">CMS/E-commerce Developer</em> at
            <a href="http://soltria.nl" rel="no-follow" itemprop="name"><span data-title="Soltria Europe BV.">Soltria Europe BV.</span></a>
        </li>
    </ul>

    <h3>Personal Insights</h3>

    <p><strong>FYI</strong> some facts below are self proclaimed, some others were peoples opinion <i class="fa fa-smile-o"></i></p>

    <ul>
        <li>a coffeeholic, heavy smoker, occasional drinker, fail musician, love farming, <em>liverpudlian</em></li>
        <li>some says anti social, careless, frontal, boring</li>
        <li>a secret admirer of the lady in black <em>*cough*</em></li>
        <li>believe that 2004 is the worst year ever, Kurt Cobain dead and J. Beiber born</li>
        <li>...</li>
    </ul>

</div>


