$background-color: #fff;
$text-color: #333;
$muted-text-color: #aaa;
$line-breaks-color: #eee;
$primary-color: #d33682;

$cover-background-color: #16a085;

$drawer-background-color: #333;
$drawer-text-color: #fdf6e3;
$drawer-hover-color: #d33682;