<footer role="contentinfo" class="footer">
  <p><small>© {{date format="YYYY"}}. All Rights Reserved.</small></p>
  <p><small>powered by <a href="http://ghost.org" target="_blank" rel="no-follow">Ghost</a> &amp; <a href="http://ghostium.oswaldoacauan.com/" target="_blank" rel="no-follow">Ghostium</a></small></p>
</footer>
